alembic==1.6.5
click==8.0.1
dataclasses==0.8
Flask==1.1.2
Flask-Admin==1.5.8
Flask-Migrate==2.5.3
Flask-Script==2.0.6
Flask-SQLAlchemy==2.5.1
greenlet==1.1.1
importlib-metadata==4.8.1
itsdangerous==2.0.1
Jinja2==3.0.1
lxml==4.6.3
Mako==1.1.5
MarkupSafe==2.0.1
pip==9.0.1
pkg-resources==0.0.0
python-dateutil==2.8.2
python-editor==1.0.4
setuptools==39.0.1
six==1.16.0
SQLAlchemy==1.4.23
typing-extensions==3.10.0.1
uWSGI==2.0.19.1
Werkzeug==2.0.1
wheel==0.37.0
WTForms==2.3.3
zipp==3.5.0
